*{
    font-family: sans-serif;
}

body{
    box-sizing: border-box;
 
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}
.container1{
    display: flex;
    justify-content: center;  
}
.section1{
    background-color: gainsboro;
    min-height: 30rem;
    padding-top: 5rem;
}
.headshot{
    width: 20rem;
    height: 20rem;
    margin-right: 6rem;
    
}
.headshot img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .intro{
      padding: 2rem 0rem;
       width: 34rem;    
  }
h1, h2, h3{
    font-size: 2rem;   
}
/* section  2 start here */

.section2{
    background-color: whitesmoke;
   
}
.container2{
   padding: 4rem 0rem;
    
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container2 .projects div{
    min-width: 10rem;
    min-height: 20rem;
    border: gainsboro solid;
}
.container2 h1{
   text-align: center;
}

.container2 .projects div h1,p{
   text-align: center;
}

/* sec */

.contaner3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.section3 h1{
    text-align: center;
    
}

.section3{
    background-color: rgb(248, 248, 252);
    padding: 3rem 0rem;
}



.leetcode div{
    height: 20rem;
    width: 20rem;
    border: gray solid;
    border-radius: 100%; 
    margin-left: auto;
    margin-right: auto;
}

.leetcode div img{
   border-radius: 100%;
}
.leetcode {
  align-items: center;
  padding: 3rem 3rem;

}

.fifa{
    padding: 3rem 3rem;
   
}

.fifa div{
    height: 20rem;
    width: 20rem;
    border: gray solid;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
   

  
}
.fifa div img{
    border-radius: 100%;
 }

 .leetcode, .fifa p{
     font-size: 1.2rem;
 }

 .section4 h1{
    text-align: center;
 }
 /* section 4 starts here */
 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgb(179, 154, 154);
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(205, 209, 212);
  }




